<h3>Add Todo List</h3>

<div ng-controller="TodoAddController" name="todoform" class="well well-lg">
	<alert type="success" ng-show="success" close="closeAlert($index)">{{ success }}</alert>
	<form novalidate class="simple-form" ng-model='data'>
		<div class="form-group" ng-class="{ 'has-error' : errors.name }">
			<label for="title">Title</label>
			<input type="text" ng-model="formData.name" class="form-control" id="title" placeholder="Enter a title">
			<span class="help-block" ng-show="errors.name">
				<ul>
					<li ng-repeat="error in errors.name">{{ error }}</li>
				</ul>
			</span>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : errors.description }">
			<label for="description">Description</label>
			<input type="text" ng-model="formData.description" class="form-control" id="description" placeholder="Enter a description">
			<span class="help-block" ng-show="errors.description">
				<ul>
					<li ng-repeat="error in errors.description">{{ error }}</li>
				</ul>
			</span>
		</div>
		<button ng-click="addTodo($event)" class="btn btn-default">Add Todo</button>
	</form>
</div>
